@import 'config';
@import 'menu';

// General

* {
  box-sizing: border-box;
}

body {
  @include background;

  background: $primary-color;
  color: set-text-color($primary-color);  // using functions in SASS
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings

h1, 
h2, 
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading { // & here means that the class is attached to h1, h2 or h3
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(lighten($primary-color, 2), 0.5); 
    // lighten is a SASS specific function
  }
}

// Links

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// Text

.text-secondary {
  color: $secondary-color;
}

// Main

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px); // viewport - footer size

  .icons { // will only affect class of 'icons' inside of main
    margin-top: 1rem;
    
    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut; // using a mixin
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// About page

.about-info {
  display: grid;
  grid-template-areas:
    'bioimage bio  bio'
    'job1     job2 job3';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  .bio-image { grid-area: bioimage; }
  .bio       { grid-area: bio; }
  .job-1     { grid-area: job1; }
  .job-2     { grid-area: job2; }
  .job-3     { grid-area: job3; }

  .bio-image {
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    font-size: 1.5rem;
    text-align: justify;
  }

  .job {
    background-color: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    text-align: justify;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background-color: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// We want media queries to run after our main CSS
@import 'mobile';
